.map-services-page {
  padding: 0;
}

.map-services-toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.map-services-modal-root .ant-modal {
  top: 20px;
  padding-bottom: 0;
}